<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Title</key>
			<string>Appearance</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>Titles</key>
			<array>
				<string>Small Font</string>
				<string>Medium Font</string>
				<string>Large Font</string>
			</array>
			<key>Values</key>
			<array>
				<string>small</string>
				<string>medium</string>
				<string>large</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Font Size</string>
			<key>Key</key>
			<string>FontSize</string>
			<key>DefaultValue</key>
			<string>medium</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Titles</key>
			<array>
				<string>Light Theme</string>
				<string>Dark Theme</string>
			</array>
			<key>Values</key>
			<array>
				<string>light</string>
				<string>dark</string>
			</array>
			<key>Title</key>
			<string>Theme</string>
			<key>Key</key>
			<string>Theme</string>
			<key>DefaultValue</key>
			<string>light</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Accounts</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>Instapaper</string>
			<key>File</key>
			<string>InstapaperAccount</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>Pinboard</string>
			<key>File</key>
			<string>PinboardAccount</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Reading Preferences</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Titles</key>
			<array>
				<string>Comments</string>
				<string>Link</string>
			</array>
			<key>Values</key>
			<array>
				<string>comments</string>
				<string>link</string>
			</array>
			<key>Title</key>
			<string>Default View</string>
			<key>Key</key>
			<string>DefaultReadingView</string>
			<key>DefaultValue</key>
			<string>comments</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Preload link</string>
			<key>Key</key>
			<string>PreloadLink</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
</dict>
</plist>
